body{
	position: relative;
	margin: 0;
}
::-webkit-scrollbar{
	display: none;
}
.BWcontainer{
	position: absolute;
	z-index: -1;
	display: flex;
	flex-direction: row;
}
.BLACK{
	position: relative;
	background: #222222;
	left: 0;
	height: 100vh;
	width: 50vw;
}
.WHITE{
	position: relative;
	background: #F1F1F1;
	right: 0;
	height: 100vh;
	width: 50vw;
}


/* entry screen */
.entry{
	position: relative;
	top: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

/* hello */
.helloContainer{
	position: relative;
	display: flex;
	
	position: absolute;
	/right: 60vw;
	/align-self: center;
}
.hello{
	font-family: code_bold;
	font-size: 11em;
	right: 50vw;
	transform: translate(2em,-.9em);
	position: absolute;
	color: #FEFEFE;
	letter-spacing: .1em;
}
.hello span{
	color: #222222;
}
.from{
	font-family: code_bold;
	font-size: 7em;
	letter-spacing: .1em;
	-webkit-text-stroke: 3px #222222;
	position: absolute;
	right: 50vw;
	transform: translate(1.85em, 0em);
	color: #FEFEFE;
	text-align: center;
	margin-right: .15em;
}

/* rubberband */
.whiteBack{
	top: 0;
	left: 0;
	background: #F2F2F2;
	width: 5.3em;
	height: 100%;
	position: absolute;
	z-index: -1;
}
.blackBack{
	top: 0;
	right: 0;
	background: #222222;
	width: 3.64em;
	height: 100%;
	position: absolute;
	z-index: -1;
}
.rubberbandContainer{
	/background: rgba(255,255,255,.8);
	font-family: code_bold;
	font-size: 8em;
	position: absolute;
	border: 1px solid #111111;
	align-self: center;
	transform: translate(-.9em, 1.3em);
	padding: .1em;
	padding-bottom: 0em;
	margin-left: 1vw;
	align-self: center;
}
.rubberband span{
	color: white;
}