body{
	height: 100vh;
	overflow: hidden;
	position: relative;
	margin: 0;
}
a{
	text-decoration: inherit;
	color: inherit;
}
::-webkit-scrollbar{
	display: none;
}
.BWcontainer{
	position: absolute;
	z-index: -1;
	display: flex;
	flex-direction: row;
}
.BLACK{
	position: relative;
	background: #222222;
	left: 0;
	height: 100vh;
	width: 50vw;
	transition: width .7s;
}
.WHITE{
	position: relative;
	background: #F1F1F1;
	right: 0;
	height: 100vh;
	width: 50vw;
}


/* entry screen */
.entry{
	position: relative;
	top: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	/display: none;
	flex-direction: column;
	justify-content: center;
}

/* hello */
.helloContainer{
	position: relative;
	display: flex;
	position: absolute;
	/right: 60vw;
	/align-self: center;
}
.hello{
	font-family: code_bold;
	font-size: 9em;
	right: 50vw;
	transform: translate(1.8em,-.9em);
	opacity: 0;
	position: absolute;
	color: #FEFEFE;
	padding-left: -1em;
	letter-spacing: .1em;
	transition: opacity .4s, transform .6s;
	transition-timing-function: ease-out;
}
.hello span{
	color: #222222;
}
.from{
	font-family: code_bold;
	font-size: 5em;
	letter-spacing: .1em;
	-webkit-text-stroke: 3px #222222;
	position: absolute;
	right: 50vw;
	margin-left: -5px;
	transform: translate(1.9em, 0em);
	color: #FEFEFE;
	opacity: 0;
	transition: opacity .4s, transform .6s;
	text-align: center;
}

/* rubberband */
.whiteBack{
	top: 0;
	left: 0;
	background: #F2F2F2;
	width: 58.4%;
	height: 100%;
	transform: translateX(100%);
	position: absolute;
	z-index: -1;
	opacity: 0;
	transition: transform .8s;
	transition-delay: 0s;
	transition-timing-function: ease-out;
}
.blackBack{
	top: 0;
	right: 0;
	opacity: 0;
	background: #222222;
	width: 41.6%;
	height: 100%;
	position: absolute;
	z-index: -2;
	transition: .4s;
	transform: translate(0%);
}
.rubberbandContainer{
	/background: rgba(255,255,255,.8);
	color: #222222;
	font-family: code_bold;
	font-size: 6em;
	position: absolute;
	/border: 1px solid #111111;
	align-self: center;
	transform: translate(-.9em, 1.3em);
	padding: .1em;
	padding-bottom: 0em;
	margin-left: 1vw;
	align-self: center;
}
.rubberband{
	opacity: 0;
}
.rubberband span{
	color: #F2F2F2;
}


/* styles for animation */
.blackBackVisible{
	opacity: 1 !important;
	transform: translateX(0%);
}
.whiteBackVisible{
	opacity: 1 !important;
	transform: translateX(0%);
}
.helloVisible{
	transform: translate(2em, -.9em);
	opacity: 1 !important;
}
.fromVisible{
	transform: translate(1.70em, 0em);
	opacity: 1 !important;
}
.rubberbandVisible{
	opacity: 1 !important;
}







/* headline */

.whatWeDoContainer{
	position: absolute;
	display: flex;
	/display: none;
	flex-direction: row;
	width: 100vw;
	height: 100vh;
	top: 100vh;
	overflow: hidden;
	/justify-content: center;
}
/*styles for animation */
.wwdVisible{
	top: 0vh !important;
}
@keyframes slideUp{
	100%{
		top: 0;
		opacity: 1;
	}
}
@keyframes slideDown{
	100%{
		top: 50px;
		opacity: 0;
	}
}
.visible{
	transition: .8s;
	opacity: 1 !important;
	top: 0 !important;
}
.hidden{
	transition: .8s;
	top: 50px !important;
	opacity: 0 !important;
}
.headline{
	display: flex;
	font-family: code_bold;
	color: white;
	font-size: 5em;
	position: absolute;
	margin-top: .5em;
	top: 50px;
	opacity: 0;
	left: 50%;
	overflow: hidden;
	height: 1em;
	transform: translateX(-42%);
}
.headline > div{
	margin-left: .5em;
	transition: .7s;
}
.do{
	margin-top: 0em;
	color: #FEFEFE;
}
.did{
	margin-top: -1em;
	color: #222222;
}
.are{
	margin-top: -2em;
}

.leftContent{
	position: relative;
	width: 70vwvw;
	display: flex;
	flex-direction: column;
}
.primary{
	top: 25%;
	position: relative;
	width: 70vw;
}
.primary .title{
	position: relative;
	opacity: 0;
	top: 40px;
}
.primary .title > span{
	position: relative;
	color: #FEFEFE;
	font-family: code_REGULAR;
	padding-left: 1.5em;
	font-size: 2.2em;
}
.primary .title > span > span{
	font-family: quicksand_medium;
	color: #000000;
} 
.primary .title span::after{
	position: absolute;
	right: -.1em;
	content: '';
	height: 120%;
	width: 6em;
	background: #FEFEFE;
	z-index: -1;
}

/* features */
.features{
	padding: 1em;
	margin: 1em;
	margin-top: 2em;
	margin-left: 2em;
	display: flex;
	justify-content: space-between;
}
.features .box{
	position: relative;
	/*styles for animation */
	opacity: 0;
	top: 50px;
	/* -- */
	display: flex;
	justify-content: center;
	padding: 1em 2em;
	/overflow: hidden;
	background: #F1F1F1;
}
.box span{
	font-size: 2em;
	/flex-wrap: wrap;
	/word-wrap: break-word;
	align-self: center;
	font-family: CODE_BOLD;
}


/* skillset */
.skillset{
	margin-top: 6em;
	display: flex;
	margin-left: 2em;
	flex-grow: 1;
	/border: 3px solid green;
}
.front-end{
	position: relative;
	width: 50%;
}
.back-end{
	position: relative;
	width: 50%;
}
.skillset .title{
	opacity: 0;
	top: 50px;
	font-family: CODE_regular;
	color: white;
	padding-left: 1em;
	margin-bottom: 1.5em;
	font-size: 1.7em;
}
.skill{
	opacity: 0;
	top: 50px;
	display: flex;
	position: relative;
	width: 100%;
	/border: 5px solid green;
	margin: 1.2em;
	margin-left: 1.7em;
	font-family: quicksand_medium;
	color: white;
}
.fluency{
	position: absolute;
	right: 10%;
	width: 60%;
	height: 1em;
	padding: .2em;
	background: #FEFEFE;
	color: black;
}




/* secondary skill */
.secondary{
	height: 100%;
	flex-grow: 1;
	/border: 4px solid green;
}
.secondary .title{
	position: relative;
	opacity: 0;
	top: 50px;
	margin-top: 2em;
	margin-left: .6em;
	margin-bottom: .8em;
	font-family: code_bold;
	font-size: 4em;
}
.secondary .skill{
	top: 50px;
	color: #222222;
	margin-left: 2.5em;
	display: flex;
	flex-direction: column;
}
.secondary .skill span:nth-child(1){
	font-family: dosis_bold;
	font-size: 1.5em;
}







/* projects */
.whatWeDidContainer{
	top: 100vh;
	height: 100vh;
	width: 100vw;
	display: flex;
	/display: none;
	flex-direction: row;
	position: absolute;
	overflow: hidden;
}
.whatWeDidContainer .headline{
	top: 50px;
	opacity: 0;
}
.whatWeDidContainer .headline > span{
	color: #222222;
}
.projectCategories{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	align-self: flex-end;
	position: relative;
	height: 80vh;
	width: 100vw;
}
.category{
	position: relative;
	top: 50px;
	opacity: 0;
	display: flex;
	flex-direction: column;
	width: 20vw;
	height: 40vw;
	background: white;
	position: relative;
}
.category img{
	position: relative;
	top: 50px;
	opacity: 0;
	padding: 1em;
	position: relative;
	width: 40%;
	margin-top: 2em;
	align-self: center;
}
.category > .title{
	position: relative;
	top: 50px;
	opacity: 0;
	align-self: center;
	font-family: quicksand_regular;
	font-size: 1.3em;
	margin-top: .8em;
}
.category:nth-child(3), .category:nth-child(4){
	/border: 4px solid blue;
	color: white;
	background: #222222;
}
.projects{
	position: relative;
	top: 50px;
	opacity: 0;
	margin-top: 1.2em;
}
.project{
	padding: 1em 0em;
	margin: 0em 1.5em;
	border-bottom: .05em solid black;
}
.project > .title{
	position: relative;
	/margin-left: 1em;
	text-align: left;
	font-family: quicksand_bold;
}
.project > .description{
	margin-top: .5em;
	position: relative;
	/margin-left: 1em;
	text-align: left;
	font-size: 1em;
	font-family: quicksand_regular;
}
.project:hover{
	cursor: pointer;
	border-bottom: .3em solid black;
	transition: .2s;
}